<div class="login"> 
	<h1 class="login__heading heading">{{ state === 'login' ? 'Login' : 'Create Account' }}</h1>
	<form (ngSubmit)="onSubmit()">

		<div class="login__info info alert" *ngIf="user;">
			<p>Logged in as {{ user.email }}</p>
		</div>

		<div *ngIf="user === undefined">
			<app-place-holder height="34px"></app-place-holder>
		</div>
	
		<div class="login__error error alert" *ngIf="error">
			{{ error }}
		</div>

		<div class="field" *ngIf="state === 'signup'">
			<label for="name">Enter name</label>
			<input type="text" name="name" [(ngModel)]="displayName" placeholder="John Wick">
		</div>

		<div class="field">
			<label for="email">Enter email</label>
			<input type="email" name="email" [(ngModel)]="email" placeholder="john.wick@example.com">
		</div>
		
		<div class="field">
			<label for="password">Enter password</label>
			<input type="password" name="password" [(ngModel)]="password" [placeholder]="state === 'signup' ? 'at least 6 characters' : 'password'">
		</div>

		<div class="login__actions">
			<a href="/reset-password">Forgot password?</a> &nbsp;/&nbsp; 
			<a (click)="toggleState()">{{ state === 'login' ? 'Create Account' : 'Login with email' }}</a>
		</div>

		<button type="submit" class="btn btn__primary login__button">
			{{ state === 'login' ? 'Login' : 'Create Account' }}
		</button>

		<div class="or">- - - - - - - - <span>OR</span> - - - - - - - -</div>

		<app-google-button></app-google-button>
	</form>
</div>