@import './prism.scss';
@import './layout.scss';
@import './buttons.scss';

:root {
  --primary-color: #128a9c;
  --primary-light: #128a9c25;
  --primary-dark: #0e7080;
  --shadow: 0 5px 10px #59626b11;
  
  --bg: #f5f8fd;
  --bgv: #ffffff;
	--text: #46566d;

	--window-width: 1250px;
}

.dark {
  --primary-color: #50d7ea;
  --primary-light: #50d7ea25;
  --primary-dark: #49c7d8;
  --shadow: 0 5px 10px #23272b50;

  --bg: #001E26;
  --bgv: #012A35;
	--text: #e3edf2;
}

:target::before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -7rem;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--primary-color);
  color: var(--bg);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--bg);
  transition: background-color 200ms ease;
	color: var(--text);
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Aquire';
  src: url('/Aquire.otf');
}