---
import BaseLayout from '../layouts/BaseLayout.astro';
import LatestBlogs from '../components/blogs/LatestBlogs.astro';
---

<BaseLayout>
	<a href="/blogs">Blogs</a>

	<LatestBlogs count={3}></LatestBlogs>
</BaseLayout>

