---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeHero from '../components/HomeHero.astro';
import LatestBlogs from '../components/LatestBlogs.astro';
---

<BaseLayout>

	<HomeHero/>
	
	<h1 class="page-heading">Recent blogs</h1>
	<LatestBlogs count={3}></LatestBlogs>
</BaseLayout>

