@import './variables.scss';
@import './prism.scss';
@import './layout.scss';
@import './buttons.scss';
@import './login.scss';
@import './inputs.scss';

:target::before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -7rem;
}

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--primary-color);
  color: var(--bg);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--bg);
  transition: background-color 200ms ease;
	color: var(--text);
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

button, img, .page-heading {
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Aquire';
  src: url('/Aquire.otf');
}