<footer>
  <div>
    <p>Copyright © 2021 nxcoder</p>
    <p>Developed by <a rel="noopener" rel="noreferrer" target="_blank" href="https://panesarpbx8.vercel.app">Sukhpreet Singh</a></p>
  </div>
  <div class="icons">
    <a target="_blank" rel="noopener" rel="noreferrer" href="https://instagram.com/panesarpbx8">
      <img src="/assets/img/instagram.png" alt="instagram" height="25" width="25">
    </a>
    <a target="_blank" rel="noopener" rel="noreferrer" href="https://www.youtube.com/channel/UC5-cUtWK5_P3UoV4qfB6SCg">
      <img src="/assets/img/youtube.png" alt="youtube" height="28" width="28">
    </a>
    <a target="_blank" rel="noopener" rel="noreferrer" href="https://twitter.com/panesarpbx8">
      <img src="/assets/img/twitter.png" alt="twitter" height="27" width="27">
    </a>
    <a target="_blank" rel="noopener" rel="noreferrer" href="https://github.com/panesarpbx8">
      <img src="/assets/img/github.png" alt="github" height="25" width="25">
    </a>
  </div>
</footer>

<style lang="scss">
footer {
  text-align: center;
  margin-bottom: 20vh;
}

p {
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;

  img {
    height: 24px;
    width: 24px;
  }
}
</style>