---
const { hashtags, heading } = Astro.props;
---

<div class="hashtags">
  {hashtags.map(hashtag => (
		<a href={`/hashtags/${hashtag}`}>
			<button class={`hashtag ${heading} ${hashtag}`}>
				{hashtag}
			</button>
		</a>
  ))}
</div>


<style lang="scss">
.hashtags {
  display: flex;
	flex-wrap: wrap;
  gap: 1rem;
  border-radius: 5px;
}

.hashtag {
  transition: transform 200ms ease-in-out;
	background-color: var(--text);
	color: var(--bgv);

  &:hover {
    transform: translateY(-3px);
  }
}

.hashtag.heading {
	font-size: 2rem;
	text-transform: capitalize;
}

.angular, .nestjs {
	color: white; 
	background-color: #E83749; 
}

.node, .vue {
	color: white; 
	background-color: #12c273; 
}

.sass, .rxjs {
	color: white;
	background-color: #F06292; 
}

.javascript, .firebase {
	color: hsl(215, 22%, 25%); 
	background-color: #FCDC00;
}

.typescript, .css, .react, .docker {
	color: white; 
	background-color: #4183f5; 
}

.heroku {
	color: white;
	background-color: #7E57C2;
}


@media screen and (min-width: 768px) {
	.hashtag.heading {
		font-size: 3rem;
	}
}
</style>