---
const github: string = 'https://www.github.com/panesarpbx8';
---

<header>
  <nav class="container">
    <div class="logo">
      <i class="fa-solid fa-bars-staggered"></i>
      <a href="/">NXCODER</a>
    </div>
    <div class="links">
      <div class="link">
        <a href="/blogs">Blogs</a>
      </div>
      <div class="link">
        <a href="/hashtags">Hashtags</a>
      </div>
    </div>
    <div class="buttons">
      <a href={github} target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <theme-switcher></theme-switcher>
      <a>
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
      <a href="/login">
        <i class="fa-solid fa-user-astronaut"></i>
      </a>
    </div>
  </nav>
</header>

<style lang="scss">
header {
  background-color: var(--bgv);
  transition: background-color 200ms ease;
  box-shadow: var(--shadow);
  margin-bottom: 2.5rem;
  height: 4.5rem;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;

  a {
    font-family: 'Aquire', 'Baloo Thambi 2', sans-serif;
  }

  i {
    display: block;
  }
}

.links {
  display: none;
  align-items: center;
  gap: 1.5rem;

  .link {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a:hover {
    color: var(--primary-dark);
  }
  
  .active {
    border-bottom: 2px solid var(--primary-color);
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  
  .user-image {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
  }

  i {
    color: var(--primary-color);
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: var(--primary-dark);
    }
  }

}

@media screen and (min-width: 768px) {
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }

  .logo {
    i {
      display: none;
    }
  }

  .links {
    display: flex;
    justify-content: center;
  }

  .buttons {
    justify-content: flex-end;
  }
}
</style>