
header {
  background-color: var(--bgv);
  transition: background-color 200ms ease;
  box-shadow: var(--shadow);
  margin-bottom: 2.5rem;
  height: 4.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.logo {  
  color: var(--primary-color);
  font-size: 1.75rem;

  a {
    font-family: 'Aquire', 'Baloo Thambi 2', sans-serif;
  }
}

.menu { 
  display: block;
  i {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
}

.open {
  transform: translateX(0) !important;
}

.links {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  
  transition: transform 200ms ease-in-out;
  transform: translateX(100%);
  
  background-color: var(--bgv);
  padding: 4rem 2rem;
  margin-top: 4.5rem;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
  }

  .link {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a:hover {
    color: var(--primary-dark);
  }
  
  i {
    color: var(--primary-color);
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: var(--primary-dark);
    }
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }

  .menu {
    display: none;
  }

  .links {
    position: unset;
    top: unset;
    left: unset;
    height: unset;
    width: unset;
    z-index: unset;

    flex-direction: row;
    padding: 0;
    margin-top: 0;
    transform: unset;

    .buttons {
      flex-direction: row;
      align-items: center;
    }
  }
}