---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/blogs/BlogList.astro';
import HashtagList from '../../components/blogs/HashtagList.astro';

export async function getStaticPaths() {
  const dataFetched: any = await Astro.glob('../blogs/**/*.md');
  const dataMapped = dataFetched.map(data => data.frontmatter.hashtags);
  const hashtagsUnique = new Set<string>();

  for (const entry of dataMapped)
    for (const hashtag of entry)
      hashtagsUnique.add(hashtag);

  const hashtags = Array.from(hashtagsUnique).sort();
  return hashtags.map(hashtag => {
    return {
      params: { hashtag },
      props: { blogs: dataFetched }
    }
  });
}

const hashtag = Astro.params['hashtag'];
const blogs = Astro.props['blogs'].filter(blog => {
  return blog.frontmatter.hashtags.includes(hashtag);
});
---

<BaseLayout>
  <h1 class="page-heading force-center">
    <HashtagList hashtags={[hashtag]}></HashtagList>
  </h1>

  <BlogList blogs={blogs}/>
</BaseLayout>