---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/blogs/BlogList.astro';
import { Blog } from '../../lib/blog';

export async function getStaticPaths({ paginate }) {
  let blogs: Blog[] = await Astro.glob('./**/*.md');    
  return paginate(blogs, { pageSize: 5 });
}

let blogs: Blog[] = await Astro.glob('./**/*.md');

const { page } = Astro.props;
---

<BaseLayout>
  <h1 class="page-heading">Quick Blogs</h1>
  <BlogList blogs={blogs}></BlogList>
</BaseLayout>
