---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

let title: string = Astro.props['title'] || 'nxcoder';
let description: string = Astro.props['description'] || 'Next generation coding tutorials';
let url: string = Astro.props['url'] || 'https://nxcoder.vercel.app/';
let image: string = Astro.props['image'] || '';
---

<html lang="en">
	<BaseHead title={title} description={description} url={url} image={image}/>
	<body>
		<Navbar/>
    <main class="container route">
      <slot/>
    </main>
		<Footer/>
	</body>
</html>

<style>
main {
	margin-bottom: 5rem;
}
</style>
